@model invoice_master.Models.Product

<div class="conteiner ">
  <h2 class="mb-2">Add a product</h2>
  <div class="row my-5 ">
    <div class="col-md-6">
      <form method="post" action="Add">
        <div class="form-group mb-3">
          <label for="name">Product Name</label>
          <input asp-for="Name" type="text" class="form-control" placeholder="name">
        </div>
        <div class="form-group mb-3">
          <label for="price">Product Price</label>
          <input asp-for="Price" type="number" class="form-control" placeholder="Price">
        </div>
        <div class="form-group mt-3">
          <label for="Description">Product Description</label>
          <textarea asp-for="Description" class="form-control" id="Description" placeholder="Add Description...."
            rows="7"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
      </form>
    </div>
  </div>
</div>