@model List<invoice_master.Models.Product>

@{
    ViewData["Title"] = "Product Page";
}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Product No</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Description</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <th scope="row">@product.Id</th>
                <td>@product.Name</td>
                <td>£ @product.Price</td>
                <td>@product.Description</td>
                <td><a class="btn btn-success" href="/Products/Update/@product.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>
